*{
    margin: 0;
    padding: 0;
   
}

/* =========================
   BODY
========================= */

body{
   

    background: #000;
}


/* =========================
   ANNOUNCEMENT BAR
========================= */

.announcement-bar{

    background: black;

    color: white;

    text-align: center;

    padding: 10px 0;

    font-size: 14px;

    letter-spacing: 1px;
}


/* =========================
   NAVBAR
========================= */

.navbar{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 18px 8%;

    background: #000;

    position: relative;
}


/* =========================
   LOGO
========================= */

.logo img{

    height: 60px;

    width: auto;

    display: block;
}


/* =========================
   HIDE CHECKBOX
========================= */

#menu{
    display: none;
}


/* =========================
   NAV LINKS
========================= */

.nav-links{

    display: flex;

    gap: 35px;

    list-style: none;
}


.nav-links a{

    text-decoration: none;

    color: #E50914;

    font-size: 15px;

    transition: 0.3s;
}


.nav-links a:hover{

    color: white;
}


/* =========================
   BUTTON
========================= */

.login-btn{

    padding: 12px 28px;

    border: none;

    background: #E50914;

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: 0.4s;
}


.login-btn:hover{

    transform: translateY(-3px);

    box-shadow: 0 10px 25px rgba(229,9,20,0.5);
}


/* =========================
   HAMBURGER
========================= */

.menu-toggle{

    display: none;

    flex-direction: column;

    gap: 6px;

    cursor: pointer;
}


.menu-toggle span{

    width: 30px;

    height: 3px;

    background: white;

    border-radius: 20px;
}



/* =========================
   LAPTOP
========================= */

@media (max-width: 1200px){

    .navbar{
        padding: 18px 5%;
    }

    .nav-links{
        gap: 25px;
    }

}



/* =========================
   TABLET
========================= */

@media (max-width: 992px){

    .navbar{
        padding: 18px 5%;
    }

    .logo img{
        height: 50px;
    }

    .nav-links{
        gap: 18px;
    }

    .nav-links a{
        font-size: 14px;
    }

    .login-btn{
        padding: 10px 20px;
    }

}



/* =========================
   MOBILE
========================= */

@media (max-width: 768px){

    /* HAMBURGER */

    .menu-toggle{

        display: flex;

        z-index: 1001;
    }

    /* HIDE BUTTON */

    .login-btn{
        display: none;
    }

    /* SIDEBAR */

    .nav-links{

        position: fixed;

        top: 0;

        right: -300px;

        width: 260px;

        height: 100vh;

        background: #050816;

        flex-direction: column;

        justify-content: center;

        align-items: center;

        gap: 40px;

        transition: 0.5s;

        z-index: 1000;
    }

    /* OPEN MENU */

    #menu:checked ~ .nav-links{
        right: 0;
    }

    /* MOBILE LINKS */

    .nav-links a{

        color: white;

        font-size: 18px;
    }

}



/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 480px){

    .announcement-bar{

        font-size: 11px;

        padding: 8px;
    }

    .navbar{

        padding: 15px 5%;
    }

    .logo img{

        height: 40px;
    }

    .nav-links{

        width: 220px;
    }

    .nav-links a{

        font-size: 16px;
    }

    .menu-toggle span{

        width: 25px;
    }

}
.contact-hero{
    position: relative;

    height: 100vh;

    overflow: hidden;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    background:
    linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),
    url("./assests/zenitsu.jpg");

    background-size: cover;

    background-position: center;

    animation: bgZoom 18s ease-in-out infinite;
}

/* CONTENT */

.contact-content{
    position: relative;

    z-index: 5;

    color: white;

    max-width: 850px;

    padding: 20px;
}

.contact-content p{
    color: #ff003c;

    letter-spacing: 5px;

    margin-bottom: 25px;

    animation: fadeUp 1.2s ease;
}

.contact-content h1{
    font-size: 90px;

    line-height: 105px;

    margin-bottom: 30px;

    animation: fadeUp 1.5s ease;
}

.contact-content span{
    display: block;

    color: #e2e8f0;

    font-size: 20px;

    line-height: 35px;

    margin-bottom: 40px;

    animation: fadeUp 1.8s ease;
}

/* BUTTON */

.contact-content button{
    padding: 16px 40px;

    border: none;

    border-radius: 50px;

    background:
    linear-gradient(45deg,#ff003c,#7c3aed);

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: 0.5s;

    animation: fadeUp 2s ease;
}

.contact-content button:hover{
    transform: translateY(-8px);

    box-shadow:
    0 20px 50px rgba(124,58,237,0.45);
}

/* KEYFRAMES */

@keyframes bgZoom{

    0%{
        background-size: 100%;
    }

    50%{
        background-size: 108%;
    }

    100%{
        background-size: 100%;
    }

}

@keyframes fadeUp{

    from{
        opacity: 0;

        transform: translateY(40px);
    }

    to{
        opacity: 1;

        transform: translateY(0);
    }

}

/* RESPONSIVE */

@media (max-width: 992px){

    .contact-content h1{
        font-size: 70px;

        line-height: 85px;
    }

}

@media (max-width: 768px){

    .contact-content h1{
        font-size: 50px;

        line-height: 65px;
    }

    .contact-content span{
        font-size: 16px;

        line-height: 28px;
    }

}

@media (max-width: 480px){

    .contact-content h1{
        font-size: 38px;

        line-height: 50px;
    }

}


.contact-form-section{
    padding: 120px 8%;

    background:
    
    url("https://i.pinimg.com/736x/ba/fb/36/bafb3614149df25606e4fe63219766f7.jpg");

    background-size: cover;

    background-position: center;

    overflow: hidden;
}

/* FORM BOX */

.contact-form-box{
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 60px;

    align-items: center;

    padding: 70px;

    border-radius: 40px;

    background:
    rgba(255,255,255,0.05);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.08);

    animation: floatBox 7s ease-in-out infinite;
}

/* LEFT */

.form-left{
    color: white;
}

.form-left p{
    color: #ff003c;

    letter-spacing: 5px;

    margin-bottom: 20px;
}

.form-left h1{
    font-size: 70px;

    line-height: 85px;

    margin-bottom: 30px;
}

.form-left span{
    color: #cbd5e1;

    font-size: 18px;

    line-height: 32px;
}

/* FORM */

.anime-form{
    display: flex;

    flex-direction: column;

    gap: 25px;
}

.anime-form input,
.anime-form textarea{
    width: 100%;

    padding: 18px 22px;

    border-radius: 18px;

    border: 1px solid rgba(255,255,255,0.1);

    background:
    rgba(255,255,255,0.05);

    color: white;

    font-size: 16px;

    outline: none;

    transition: 0.4s;
}

/* TEXTAREA */

.anime-form textarea{
    height: 180px;

    resize: none;
}

/* FOCUS */

.anime-form input:focus,
.anime-form textarea:focus{
    border-color: #7c3aed;

    box-shadow:
    0 0 20px rgba(124,58,237,0.3);
}

/* PLACEHOLDER */

.anime-form input::placeholder,
.anime-form textarea::placeholder{
    color: #94a3b8;
}

/* BUTTON */

.anime-form button{
    padding: 18px;

    border: none;

    border-radius: 50px;

    background:
    linear-gradient(45deg,#ff003c,#7c3aed);

    color: white;

    font-weight: bold;

    font-size: 16px;

    cursor: pointer;

    transition: 0.5s;
}

.anime-form button:hover{
    transform: translateY(-8px);

    box-shadow:
    0 20px 40px rgba(124,58,237,0.45);
}

/* KEYFRAMES */

@keyframes floatBox{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }

}

/* RESPONSIVE */

@media (max-width: 992px){

    .contact-form-box{
        grid-template-columns: 1fr;
    }

    .form-left h1{
        font-size: 55px;

        line-height: 70px;
    }

}

@media (max-width: 768px){

    .contact-form-box{
        padding: 40px;
    }

    .form-left h1{
        font-size: 42px;

        line-height: 55px;
    }

}

@media (max-width: 480px){

    .contact-form-section{
        padding: 80px 5%;
    }

    .contact-form-box{
        padding: 30px 20px;
    }

    .form-left h1{
        font-size: 34px;

        line-height: 45px;
    }

}


.faq-section{
    padding: 120px 8%;

    background:
    url(https://i.pinimg.com/736x/78/e5/88/78e58848c1015aa5755f079b73a6ad42.jpg) ;
    background-size: cover;

    background-position: center;

    color: white;

    overflow: hidden;
}

/* HEADING */

.faq-heading{
    text-align: center;

    margin-bottom: 70px;
}

.faq-heading p{
    color: #ff003c;

    letter-spacing: 5px;

    margin-bottom: 20px;
}

.faq-heading h1{
    font-size: 65px;
}

/* CONTAINER */

.faq-container{
    max-width: 950px;

    margin: auto;

    display: flex;

    flex-direction: column;

    gap: 25px;
}

/* FAQ ITEM */

.faq-container details{
    background:
    rgba(255,255,255,0.04);

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 22px;

    padding: 25px 30px;

    transition: 0.5s;

    overflow: hidden;

    backdrop-filter: blur(15px);
}

/* HOVER */

.faq-container details:hover{
    border-color: #7c3aed;

    transform: translateY(-5px);

    box-shadow:
    0 15px 40px rgba(124,58,237,0.25);
}

/* QUESTION */

.faq-container summary{
    list-style: none;

    cursor: pointer;

    font-size: 22px;

    font-weight: bold;

    position: relative;

    padding-right: 40px;
}

/* REMOVE DEFAULT ICON */

.faq-container summary::-webkit-details-marker{
    display: none;
}

/* CUSTOM ICON */

.faq-container summary::after{
    content: "+";

    position: absolute;

    right: 0;

    top: 0;

    font-size: 28px;

    transition: 0.4s;
}

/* ROTATE ICON */

.faq-container details[open] summary::after{
    transform: rotate(45deg);
}

/* ANSWER */

.faq-container p{
    color: #cbd5e1;

    font-size: 17px;

    line-height: 30px;

    margin-top: 20px;

    animation: fadeAnswer 0.5s ease;
}

/* KEYFRAME */

@keyframes fadeAnswer{

    from{
        opacity: 0;

        transform: translateY(-10px);
    }

    to{
        opacity: 1;

        transform: translateY(0);
    }

}

/* RESPONSIVE */

@media (max-width: 768px){

    .faq-heading h1{
        font-size: 45px;
    }

    .faq-container summary{
        font-size: 18px;
    }

}

@media (max-width: 480px){

    .faq-heading h1{
        font-size: 34px;
    }

    .faq-container details{
        padding: 20px;
    }

}


.social-strip{
    padding: 120px 0;

    overflow: hidden;

    background:
   black;

    position: relative;
}

/* MOVING TEXT */

.social-marquee{
    white-space: nowrap;

    overflow: hidden;

    margin-bottom: 80px;
}

.social-marquee h1{
    display: inline-block;

    font-size: 120px;

    color: rgba(255, 255, 255, 0.589);

    animation: marqueeText 18s linear infinite;
}

/* ICON ROW */

.social-row{
    display: flex;

    justify-content: center;

    align-items: center;

    gap: 35px;

    flex-wrap: wrap;
}

/* SOCIAL CIRCLE */

.social-circle{
    width: 110px;

    height: 110px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    text-decoration: none;

    color: white;

    font-size: 40px;

    background:
    rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.08);

    backdrop-filter: blur(15px);

    transition: 0.5s;

    animation: floatSocial 6s ease-in-out infinite;
}

/* DIFFERENT DELAYS */

.social-circle:nth-child(2){
    animation-delay: 1s;
}

.social-circle:nth-child(3){
    animation-delay: 2s;
}

.social-circle:nth-child(4){
    animation-delay: 3s;
}



/* HOVER */

.social-circle:hover{
    transform: translateY(-12px) scale(1.1);

    background:
    linear-gradient(45deg,#ff003c,#7c3aed);

    box-shadow:
    0 20px 50px rgba(124,58,237,0.45);
}

/* KEYFRAMES */

@keyframes marqueeText{

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }

}

@keyframes floatSocial{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-18px);
    }

    100%{
        transform: translateY(0px);
    }

}

/* RESPONSIVE */

@media (max-width: 768px){

    .social-marquee h1{
        font-size: 70px;
    }

    .social-circle{
        width: 85px;

        height: 85px;

        font-size: 30px;
    }

}

@media (max-width: 480px){

    .social-marquee h1{
        font-size: 48px;
    }

    .social-row{
        gap: 20px;
    }

    .social-circle{
        width: 70px;

        height: 70px;

        font-size: 24px;
    }

}




.footer{
    background: #020617;

    color: white;

    padding-top: 80px;
}

.footer-container{
    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 50px;

    padding: 0 8% 60px;
}

.footer-about img{
    height: 50px;

    margin-bottom: 25px;
}

.footer-about p{
    color: #94a3b8;

    line-height: 30px;
}

.footer-links h2,
.footer-social h2{
    margin-bottom: 25px;

    font-size: 24px;
}

.footer-links ul{
    list-style: none;
}

.footer-links ul li{
    margin-bottom: 15px;
}

.footer-links ul li a{
    text-decoration: none;

    color: #94a3b8;

    transition: 0.4s;
}

.footer-links ul li a:hover{
    color: #ff003c;

    padding-left: 5px;
}

.social-icons{
    display: flex;

    gap: 15px;
}

.social-icons i{
    width: 50px;

    height: 50px;

    border-radius: 50%;

    background: rgba(255,255,255,0.08);

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 20px;

    cursor: pointer;

    transition: 0.4s;
}

.social-icons i:hover{
    background: linear-gradient(45deg,#ff003c,#7c3aed);

    transform: translateY(-8px);
}

.footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.1);

    text-align: center;

    padding: 25px 10px;
}

.footer-bottom p{
    color: #94a3b8;
}


/* =========================
   FOOTER RESPONSIVE
========================= */

/* TABLET */

@media (max-width: 992px){

    .footer-container{
        grid-template-columns: repeat(2,1fr);

        gap: 50px;
    }

    .footer-about img{
        height: 45px;
    }

}

/* MOBILE */

@media (max-width: 768px){

    .footer{
        padding: 80px 5% 30px;
    }

    .footer-container{
        grid-template-columns: 1fr;

        text-align: center;

        gap: 50px;
    }

    .footer-about{
        display: flex;

        flex-direction: column;

        align-items: center;
    }

    .footer-about p{
        max-width: 400px;
    }

    .footer-links ul{
        padding: 0;
    }

    .social-icons{
        justify-content: center;

        flex-wrap: wrap;
    }

    .footer-bottom{
        margin-top: 50px;
    }

}

/* SMALL MOBILE */

@media (max-width: 480px){

    .footer-about img{
        height: 38px;
    }

    .footer-links h2,
    .footer-social h2{
        font-size: 22px;
    }

    .footer-links a{
        font-size: 15px;
    }

    .social-icons i{
        width: 45px;

        height: 45px;

        font-size: 18px;
    }

    .footer-bottom p{
        font-size: 14px;
    }

}