*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;

    min-height: 100vh;

    overflow: hidden;

    position: relative;
}
.announcement-bar{
    background: #000000;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: fixed;
     width: 100%;
     z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background: white;
    
    position: fixed;
    z-index: 1000;
     top: 41px;
    left: 0;
    width: 100%;
}

.nav-links{
    display: flex;

    gap: 40px;

    list-style: none;
}

.nav-links a{
    text-decoration: none;

    color: black;

    font-size: 14px;

    
}

.nav-icons{
    display: flex;

    gap: 25px;
}

.nav-icons i{
    font-size: 18px;

    cursor: pointer;
}


/* VIDEO */

.bg-video{
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -2;
}


/* OVERLAY */

.overlay{
    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.6);

    z-index: -1;
}


/* MAIN SECTION */

.login-section{
    width: 100%;
    min-height: 100vh;

    padding: 60px 8%;

    display: grid;
    grid-template-columns: 1fr 450px;

    gap: 60px;

    align-items: center;
}


/* MEMBERSHIP CARD */

.membership-card{
    color: white;

    max-width: 650px;
}

.membership-card p{
    letter-spacing: 2px;

    margin-bottom: 20px;
}

.membership-card h1{
    font-size: 90px;

    line-height: 100px;

    margin-bottom: 30px;
}

.membership-card span{
    display: block;

    line-height: 32px;

    color: #d1d5db;

    margin-bottom: 50px;
}


/* FEATURES */

.membership-features{
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.feature{
    display: flex;
    align-items: center;

    gap: 18px;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(12px);

    padding: 20px;

    border-radius: 18px;

    border: 1px solid rgba(255,255,255,0.1);
}

.feature i{
    font-size: 20px;
}


/* LOGIN CARD */

.login-card{
    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,0.1);

    padding: 45px;

    border-radius: 30px;

    color: white;
}

.login-card h2{
    font-size: 38px;

    margin-bottom: 10px;
}

.login-card p{
    color: #d1d5db;

    margin-bottom: 35px;
}


/* FORM */

.login-card form{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.login-card input{
    width: 100%;

    padding: 18px;

    border: none;

    outline: none;

    border-radius: 15px;

    background: rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.1);

    color: white;

    font-family: "Poppins", sans-serif;
}

.login-card input::placeholder{
    color: #d1d5db;
}


/* BUTTON */

.login-card button{
    padding: 18px;

    border: none;

    border-radius: 50px;

    background: white;

    color: black;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.login-card button:hover{
    transform: translateY(-3px);
}


/* DIVIDER */

.divider{
    text-align: center;

    margin: 30px 0;

    position: relative;
}

.divider::before{
    content: "";

    position: absolute;

    width: 100%;
    height: 1px;

    background: rgba(255,255,255,0.15);

    top: 50%;
    left: 0;
}

.divider span{
    background: rgba(12,12,12,0.8);

    padding: 0 15px;

    position: relative;

    z-index: 2;

    color: #d1d5db;
}


/* GOOGLE BUTTON */

.google-btn{
    width: 100%;

    background: transparent !important;

    color: white !important;

    border: 1px solid rgba(255,255,255,0.15) !important;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
}


/* BOTTOM TEXT */

.bottom-text{
    text-align: center;

    margin-top: 30px;
}

.bottom-text p{
    margin: 0;
}

.bottom-text a{
    color: white;

    font-weight: 600;

    text-decoration: none;
}


/* RESPONSIVE */

@media(max-width:992px){

    .login-section{
        grid-template-columns: 1fr;
    }

    .membership-card h1{
        font-size: 60px;

        line-height: 70px;
    }

}


@media(max-width:768px){

    .login-card{
        padding: 30px;
    }

    .membership-card h1{
        font-size: 42px;

        line-height: 52px;
    }

}