*{
    margin: 0;
    padding: 0;
}
/* ANNOUNCEMENT BAR */

.announcement-bar{
    background: #000000;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: fixed;
     width: 100%;
     z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background: white;
    
    position: fixed;
    z-index: 1000;
     top: 41px;
    left: 0;
    width: 100%;
}

.nav-links{
    display: flex;

    gap: 40px;

    list-style: none;
}

.nav-links a{
    text-decoration: none;

    color: black;

    font-size: 14px;

    
}

.nav-icons{
    display: flex;

    gap: 25px;
}

.nav-icons i{
    font-size: 18px;

    cursor: pointer;
}





.hero{
    
    min-height: 100vh;
    background: url(https://i.pinimg.com/736x/34/a2/6e/34a26e3b60f65f2f986588a4b8f1de5b.jpg) no-repeat center/cover;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 8%;
    gap: 60px;
}



/* LEFT CONTENT */

.hero-content{
    flex: 1;
}

.hero-tag{
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero-content h1{
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 25px;
}

.hero-text{
    font-size: 16px;
    line-height: 30px;
    max-width: 500px;
    margin-bottom: 35px;
}




.hero-buttons{
    display: flex;
    gap: 20px;
}

.shop-btn{
    padding: 14px 32px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.explore-btn{
    padding: 14px 32px;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
}




.products{
    
    padding: 100px 8%;
    background: #ffffff;
}




.section-title{
    text-align: center;
    margin-bottom: 60px;
}

.section-title p{
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: 600;
}

.section-title h2{
    font-size: 50px;
}




.product-container{
    display: flex;
   flex: 1;
    gap: 30px;
}




.product-card{
    background: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;

}

.product-card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.product-info{
    padding: 20px;
}

.product-info h3{
    margin-bottom: 10px;
    font-size: 18px;
}

.product-info p{
    font-size: 16px;
    font-weight: 600;
}

.section-button{
    text-align: center;
    margin-top: 60px;
}
.section-button button{
    padding: 14px 34px;
    border: none;
    background: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
}



.promo-banner{
   
    min-height: 80vh;

    background: url("./assets/photo-1637666532931-b835a227b955.avif") ;
    

    background-size: cover;
    background-position: center;

    position: relative;

    display: flex;
    align-items: center;

    padding: 0 8%;
}


/* OVERLAY */






.banner-content{
    position: relative;
    z-index: 2;

    max-width: 600px;

    color: white;
}


.banner-content h2{
    font-size: 75px;
    line-height: 90px;
    margin-bottom: 25px;
}

.banner-content span{
    display: block;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
}




.banner-content button{
    padding: 14px 34px;

    border: 1px solid white;

    background: transparent;
    color: rgb(255, 255, 255);

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    border-radius: 2px;
}





.choose{
    
    padding: 100px 8%;

    background: #f5f5f5;
}




.choose-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}




.choose-card{
    background: white;

    padding: 40px 30px;

    border-radius: 20px;

    text-align: center;
}




.choose-card i{
    font-size: 40px;
    margin-bottom: 25px;
}




.choose-card h3{
    margin-bottom: 15px;
    font-size: 22px;
}




.choose-card p{
    line-height: 28px;
    font-size: 15px;
}


/* SNEAKER GRID SECTION */

.sneaker-grid{
    
    padding: 100px 8%;
 
    background: #050816;
}
.sneaker-grid .section-title{
    color: white;
}


/* GRID CONTAINER */

.sneaker-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 30px;
}


/* CARD */

.sneaker-card{
    position: relative;

    overflow: hidden;

    border-radius: 20px;

    cursor: pointer;
}


/* IMAGE */

.sneaker-card img{
    width: 100%;
    height: 450px;

    object-fit: cover;

    display: block;
}


/* INFO BOX */

.sneaker-info{
    position: absolute;

    left: 0;
    bottom: -100%;

    width: 100%;

    padding: 30px;

    background: rgba(0,0,0,0.75);

    backdrop-filter: blur(10px);

    color: white;

    transition: 0.4s;
}


/* HOVER EFFECT */

.sneaker-card:hover .sneaker-info{
    bottom: 0;
}


/* TEXT */

.sneaker-info h3{
    font-size: 24px;

    margin-bottom: 12px;
}

.sneaker-info p{
    font-size: 16px;

    color: #cbd5e1;
}




/* FOOTER */

.footer{
   

    background: #000000;

    color: white;

    padding: 100px 8% 40px;
}


/* TOP */

.footer-top{
    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr;

    gap: 50px;

    padding-bottom: 60px;

    border-bottom: 1px solid rgba(255,255,255,0.1);
}


/* ABOUT */

.footer-about h2{
    font-size: 45px;

    margin-bottom: 20px;

    letter-spacing: 2px;
}

.footer-about p{
    color: #cbd5e1;

    line-height: 30px;

    max-width: 350px;
}


/* LINKS */

.footer-links h3,
.footer-social h3{
    margin-bottom: 25px;

    font-size: 22px;
}

.footer-links ul{
    list-style: none;
}

.footer-links ul li{
    margin-bottom: 15px;
}

.footer-links ul li a{
    text-decoration: none;

    color: #cbd5e1;

    transition: 0.3s;
}


/* SOCIAL ICONS */

.social-icons{
    display: flex;

    gap: 15px;
}

.social-icons i{
    width: 45px;
    height: 45px;

    border-radius: 50%;

    background: #111827;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.3s;
}


/* BOTTOM */

.footer-bottom{
    text-align: center;

    padding-top: 35px;
}

.footer-bottom p{
    color: #94a3b8;
}













