*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(to right, rgba(240, 46, 32, 0.955), rgb(142, 42, 243));
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:420px;
height:650px;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 15px rgba(0,0,0,.2);
display:flex;
flex-direction:column;
}

.header{
background:#4CAF50;
color:white;
text-align:center;
padding:18px;
font-size:24px;
font-weight:bold;
}

.chat-box{
flex:1;
overflow-y:auto;
padding:15px;
background:#f7f7f7;
}

.user{
background:#4CAF50;
color:white;
padding:10px;
border-radius:10px;
margin:10px 0;
margin-left:auto;
width:fit-content;
max-width:80%;
}

.bot{
background:white;
padding:10px;
border-radius:10px;
margin:10px 0;
width:fit-content;
max-width:80%;
box-shadow:0 0 5px gray;
}

.input-box{
display:flex;
border-top:1px solid #ccc;
}

input{
flex:1;
padding:15px;
font-size:16px;
border:none;
outline:none;
}

button{
width:90px;
border:none;
background:#4CAF50;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#388E3C;
}